* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #210B30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media (min-aspect-ratio: 1.9) {
    .image-container {
        height: 89dvh;
    }
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
